@font-face {
  font-family: 'proximanova-reg';
  src: url(../fonts/proximanova-reg.eot);
  src: url(../fonts/proximanova-reg.eot?#iefix) format("embedded-opentype"),
  url(../fonts/proximanova-reg.woff) format("woff"),
  url(../fonts/proximanova-reg.ttf) format("truetype"),
  url(../fonts/proximanova-reg.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova-black';
  src: url(../fonts/proximanova-black.eot);
  src: url(../fonts/proximanova-black.eot?#iefix) format("embedded-opentype"),
  url(../fonts/proximanova-black.woff) format("woff"),
  url(../fonts/proximanova-black.ttf) format("truetype"),
  url(../fonts/proximanova-black.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
