$icomoon-font-path: "fonts" !default;

$i-close: "\e90a";
$i-left: "\e90b";
$i-down: "\e904";
$i-right: "\e90c";
$i-logo: "\e900";
$i-youtube: "\e901";
$i-vk: "\e902";
$i-twitter: "\e903";
$i-play: "\e906";
$i-mouse: "\e907";
$i-instagram: "\e909";
